body{
    margin:0;
    padding:0;
    
}
.gameDiv {
    display:flex;
    flex-direction: column;
    border: 2px solid red;
    gap: 10px;
    height:40vh;
    font-size:larger;
    font-family:'Courier New', 'Monaco', 'Lucida Console', 'Sans-serif';
    background-color: aqua;
}

#playerText{
    color:blue;
    
}

#computerText{
    color:red;
}

#resultText{
    color:green;
}

#winnerText{
    color:blueviolet;
    align-self:center;
    font-size: 60px;
}